/*Colours*/
:root {
  /*Colours*/
  /*Whites*/
  --bool-bg-lighter: #ffffff;
  --bool-bg-lightgrey: #fafafa;
  --bool-bg-lighterrrrr: #fbf9f9;
  --bool-bg-lighterrrrrr: #e1e1e1;

  /*Primaries*/
  --bool-bg-primary: #ff4612;
  --bool-bg-primaryy: #ef2853;
  --bool-bg-primaryyy: #ee2852;

  /*Greys and Blacks*/
  --bool-bg-dark: #bbbbbb;
  --bool-bg-darkk: #1e1e1e;
  --bool-bg-darkkk: #1e1c1c;
  --bool-bg-darkkkk: #191516;
  --bool-bg-darkkkkk: #181515;
  --bool-bg-darkkkkkk: #d9d9d9;
}

h1,
h2,
h3,h4,h5,h6 {
  font-family: "IBM Plex Serif",
    serif;
}

/*Utilities */
.my_btn {
  border: none;
  font-size:xx-small;
  font-weight: bolder;
  min-width: 150px;
  min-height: 40px;
}

.bg_myprimary {
  color: white;
  background-color: var(--bool-bg-primary);
}

.text_myprimary {
  color: var(--bool-bg-primary);
}

.bg_mylight {
  color: black;
  background-color: var(--bool-bg-lighter);
}

.my_text_smaller{
  font-size:x-small;
}

/*Header*/
header {
  margin-top: -2rem;
  margin-bottom: -2rem;


  .mylogo {
    max-width: 100px;
  }

}

#jumbocarousel {
  z-index: 0;

  .carousel-caption {
    width: 35%;
    top: 35%
  }
}

.riga {
  line-height: 1px;
  color: transparent;
  max-width: max-content;
  background: var(--bool-bg-primary);
}



/*FONT*/
.ibm-plex serif-thin {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex serif-thin-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex serif-extralight {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex serif-extralight-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex serif-light {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex serif-light-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex serif-regular-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex serif-medium {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex serif-medium-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex serif-semibold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex serif-semibold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex serif-bold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex serif-bold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: italic;
}